*, body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Menu */
.desktop-header {
    display: flex;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 5rem;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.desktop-header  nav {
    width: 100%;
    max-width: 1368px;
    margin-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.menu-items {
    display: block;
    transition: display 1s;
}

.menu-items ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.menu-link {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.menu-link:hover {
    color: rgb(209, 209, 209);
}

 /* menu bar */
 .menu-bars {
     display: none;
     width: 30px;
     height: 30px;
     /* display: flex; */
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
     cursor: pointer;
 }

 .menu-bars .bar {
     width: 100%;
     height: 4px;
     background-color: white;
 }

/* Landing Page */
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url(../assets/img/img1.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-page .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    margin-top: -2rem;
    width: auto;
}

/* Landing Title */
.landing-content .title {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    color: white;
    line-height: 5rem;
}

/* Landing Description */
.landing-content .description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.1rem;
    width: 33rem;
    text-align: center;
    color: white;
}

/* Landing Buttons */
.landing-content .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 18px;
    background-color: #E1651F ;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition:  background 1s;
}

.btn:hover {
    background-color: rgb(175, 81, 26);
}

@media screen and (max-width: 960px) {
    /* landing page */
    .landing-content .title {
        font-size: 2rem;
        width: 20rem;
        line-height: 1.6rem;
    }

    .landing-content .description {
        font-size: .9rem;
        width: 20rem;
    }

    .btn {
        font-size: .8rem;
    }

    /* Navbar */
    .desktop-header {
        height: fit-content;
        transition: height 1s;
    }
    .menu {
        flex-direction: column;
    }
    .menu-items {
        display: none;
        width: 100%;
    }

    .menu-items ul {
        width: 100%;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }

    .menu-items ul li {
        width: 100%;
        text-align: center;
    }

    .menu-items ul li:hover {
        background-color: rgba(255, 255, 255, 0.445);
    }

    .top-menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-bars {
        display: flex;
    }

    .desktop-header {
        background-color: rgba(0, 0, 0, 0.9);
    }
}


/* about page */
.about-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.about-page .content {
    display: flex;
    margin-top: 10rem;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}

.about-page .content .image-grid {
    display: grid;
    gap: 1rem;
    width: 40%;
    height: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "gimg1 gimg2"
    "gimg1 gimg3"
}

.image-grid .img1 {
    grid-area: gimg1;
    background-image: url(../assets/img/sobre/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-grid .img2 {
    grid-area: gimg2;
    background-image: url(../assets/img/sobre/img2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-grid .img3 {
    grid-area: gimg3;
    background-image: url(../assets/img/sobre/img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-page .title {
    margin-bottom: 2rem;
}
.about-page .title-text {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 3rem;
}

.about-page .title-underline {
    width: 6rem;
    height: .3rem;
    background-color: #E1651F;
}

.about-page .text-content {
    width: 25rem;
    text-align: justify;
}

.about-page p {
    font-family: 'Poppins';
    margin-bottom: 2rem;
}