*, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Smooth scroll */
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Main */
main {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* Menu */
.desktop-header {
    display: flex;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 5rem;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.desktop-header nav {
    width: 100%;
    max-width: 1368px;
    margin-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.menu-items {
    display: block;
    transition: display 1s;
}

.menu-items ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.menu-link {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.menu-link:hover {
    color: rgb(209, 209, 209);
}

/* menu bar */
.menu-bars {
    display: none;
    width: 30px;
    height: 30px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.menu-bars .bar {
    width: 100%;
    height: 4px;
    background-color: white;
}

/* Landing Page */
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../assets/img/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-page .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    margin-top: -2rem;
    width: auto;
}

/* Landing Title */
.landing-content .title {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    color: white;
    line-height: 5rem;
}

/* Landing Description */
.landing-content .description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.1rem;
    width: 33rem;
    text-align: center;
    color: white;
}

/* Landing Buttons */
.landing-content .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 18px;
    background-color: #E1651F;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: background 1s;
}

.btn:hover {
    background-color: rgb(175, 81, 26);
}

@media screen and (max-width: 960px) {

    /* landing page */
    .landing-content .title {
        font-size: 2rem;
        width: 20rem;
        line-height: 1.6rem;
    }

    .landing-content .description {
        font-size: .9rem;
        width: 20rem;
    }

    .btn {
        font-size: .8rem;
    }

    /* Navbar */
    .desktop-header {
        height: fit-content;
        transition: height 1s;
        padding-bottom: 1rem;
    }

    .menu {
        flex-direction: column;
    }

    .menu-items {
        display: none;
        width: 100%;
    }

    .menu-items ul {
        width: 100%;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }

    .menu-items ul li {
        width: 100%;
        text-align: center;
    }

    .menu-items ul li:hover {
        background-color: rgba(255, 255, 255, 0.445);
    }

    .top-menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-bars {
        display: flex;
    }

    .desktop-header {
        background-color: rgba(0, 0, 0, 0.9);
    }
}


/* about page */
.about-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.about-page .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
}

.about-page .content .image-grid {
    display: grid;
    gap: 1rem;
    width: 40%;
    height: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "gimg1 gimg2"
        "gimg1 gimg3";
}

.image-grid .img1 {
    grid-area: gimg1;
    background-image: url(../assets/img/sobre/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-grid .img2 {
    grid-area: gimg2;
    background-image: url(../assets/img/sobre/img2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-grid .img3 {
    grid-area: gimg3;
    background-image: url(../assets/img/sobre/img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-page .title {
    margin-bottom: 2rem;
}

.about-page .title-text {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 3rem;
}

.about-page .title-underline {
    width: 6rem;
    height: .3rem;
    background-color: #E1651F;
}

.about-page .text-content {
    width: 25rem;
    text-align: justify;
}

.about-page p {
    font-family: 'Poppins';
    margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
    .about-page .content {
        flex-direction: column-reverse;
    }

    .about-page .content .image-grid {
        width: 100%;
        margin-top: 1rem;
        grid-template-areas:
            "gimg2 gimg2"
            ". .";
    }

    .about-page .text-content {
        width: 100%;
    }
}

/* menu page */
.menu-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.04);
}

.menu-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.content .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.content .header .title {
    margin-top: 4rem;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 3rem;
}

.content .header .title-desc {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    opacity: .9;
}

.content .header .title-underline {
    margin-top: 2rem;
    width: 8rem;
    height: .3rem;
    background-color: #E1651F;
}

.content .menu-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/* Header butotns */
.menu-content .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}

.menu-content .category:hover > .category_underline {
    display: block;
    background-color: #5590ff;
}

.menu-content .menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.menu-buttons .category .title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.2rem;
    opacity: .8;
}

.menu-buttons .category.active > .title{
    opacity: 1;
}

.menu-buttons .category .category_underline {
    display: none;
    margin-top: .5rem;
    width: 4rem;
    height: .2rem;
    background-color: #005BFF;
}

.menu-buttons .category.active > .category_underline {
    display: block;
}

.menu-content .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .7rem;
    width: 18rem;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
    width: 100%;
}

.card .card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-info .title {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 1.5rem;
}

.card-info .price {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: .9rem;
    padding-inline: 1rem;
    padding-block: .2rem;
    background-color: #E1651F;
    color: white;
}

.card-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: .9rem;
    text-align: justify;
    opacity: .9;
}

.card .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button .menu-button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: .8rem;
    padding-inline: .8rem;
    padding-block: .3rem;
    border-radius: 8px;
    background-color: rgba(232, 107, 38, 0.08);
    color: #E1651F;
    cursor: pointer;
}

/* check star  */
.checked {
    color: orange;
  }

/* Service Page */
.services-page {
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

.services-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.content .header-service {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-service .title {
    text-align: center;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 2.5rem;
}

.header-service .title-underline {
    margin-top: 1rem;
    width: 8rem;
    height: .2rem;
    background-color: #E1651F;
}

.content .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.service-items .card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
}

.card-service .card-service-img img{
    width: 74px;
    height: 74px;
    margin: 1rem;
}

.card-service .card-service-title {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 1.2rem;
}

/* Agendamentos */
.service-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.service-book .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.content .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form .form-name {
    width: 100%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-name input {
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form .form-email {
    width: 100%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-email input {
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form .form-row {
    display: flex;
    gap: 1%;
    width: 100%;
}

.form-phone {
    width: 49.5%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-phone input {
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form-people {
    width: 49.5%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-people input {
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form-date {
    width: 49.5%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-date input {
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form-hora {
    width: 49.5%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-hora input {
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form-description {
    width: 100%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1rem;
}

.form-description textarea {
    resize: vertical;
    padding: .5rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0);
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-buttons button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: .8rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: #E1651F;
    color: white;
    cursor: pointer;
    transition: background .5s;
}

.form-buttons button:hover {
    background-color: #af4b11;
}


.form input:focus, textarea:focus {
    outline: none;
}

.form div {
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .content .form {
        width: 100%;
    }

    .form-row {
        flex-direction: column;
    }

    .form-phone {
        width: 100%;
    }

    .form-people {
        width: 100%;
    }

    .form-date {
        width: 100%;
    }

    .form-hora {
        width: 100%;
    }
}

.footer-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    height: fit-content;
    background-color: #1C1C1C;
    
}

.footer-page .content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
}

.footer-page .title {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
}

.footer-page .description {
    margin-top: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-ask .form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subscribe-ask .email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 20rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 0;
}

.subscribe-ask .email input {
    width: 90%;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
}

.subscribe-ask .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
}

.subscribe-ask .button button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: .8rem;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #E1651F;
    cursor: pointer;
    transition: background .5s;
}

.subscribe-ask .button button:hover {
    background-color: #b44200;
}

.footer-page .footer {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #2C2C2C;
}

.footer .copyright {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: .8rem;
    color: white;
}

.footer .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.footer .socialmedia div {
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 768px) {
    .footer-page .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .footer-page .footer {
        flex-direction: column;
        gap: 1rem;
    }
}